#floating-image {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px!important;
  height: auto!important;
  z-index: 999;
}

.sqs-block-image.charm {
  width: 400px; 
  z-index: 99999999999!important;
  height: 200px; 
  position: absolute; 
  right: 20px;  
  }
  

.fe-block-yui_3_17_2_1_1742434104533_8656, .fe-block_3_17_2_1_1742434104533_2652, .fe-block-yui_3_17_2_1_1742434104533_6893, .fe-block-yui_3_17_2_1_1742434104533_8092, .fe-block-yui_3_17_2_1_1742434104533_9359, .fe-block-yui_3_17_2_1_1742434104533_10539, .fe-block-yui_3_17_2_1_1742434104533_11069{
   z-index: 99999999999!important;
  animation: wiggle 2.5s infinite!important;
  }

img[alt="tamagotchi"] {
  pointer-events: none!important;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
