#block-yui_3_17_2_1_1742432571711_6178 img{
  z-index:999998!important;
  width:250px!important;
  height:250px!important;
  position:relative!important;
  }

#block-yui_3_17_2_1_1742432571711_6178 {
  position: relative!important;
  z-index: 999998!important;
}

.sqs-block-image.charm{
    min-width:250px!important;
    min-height:250px!important;
    z-index: 9999999!important;
  }
  
.sqs-block-image.charm img{
    min-width:250px!important;
    min-height:250px!important;
    z-index: 9999999!important;
  }
